:root {
  --default-height: 0;
  --default-width: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
}

.container div {
  outline: 1px solid red;
}

.container .photo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
}

.photo img {
  height: var(--default-height);
  width: var(--default-width);
  object-fit: cover;
}

.container .about {
  font-size: 1.25rem;
}

.about p {
  margin: 0;
  background-color: gray;
}

.about p:not(:last-of-type) {
  margin-bottom: 2rem;
}
